//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "colors";

// 2. Include any default variable overrides here
$enable-dark-mode: false;
$enable-transitions: true;
$enable-gradients: false;
$enable-shadows: false;
$enable-negative-margins: true;
//$enable-reduced-motion: false;


$prefix: bs-;

$spacer: 1rem;

$component-active-color: $white;
$component-active-bg: $primary;

$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-root: 16px;

$font-size-base: 1rem;

$small-font-size: .75rem;

$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$display-font-sizes: (
        1: 2rem,
        2: 1.5rem,
        3: 1rem
);

//$body-bg: #f3f2ef;
$border-color: $gray-400;

$navbar-brand-font-size: 2rem;
$navbar-brand-padding-y: 0;
$navbar-light-brand-color: $indigo-500;
$navbar-light-brand-hover-color: $indigo-700;
$navbar-padding-y: 0;

$link-decoration: none;
$link-shade-percentage: 30%;

$focus-ring-width: 2px;
$focus-ring-opacity: .9;
$focus-ring-color: rgba($primary, $focus-ring-opacity);
$focus-ring-blur: 0;
$focus-ring-box-shadow: inset 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$btn-close-focus-shadow: none;
$btn-close-opacity: .35;
$btn-close-hover-opacity: .6;


$form-floating-label-opacity: .65;
$form-floating-label-transform: scale(.75) translateY(-.5rem) translateX(.15rem);

$form-label-font-weight: 500;
$form-label-margin-bottom: .25rem;


$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m4 10 4 4 7-9'/></svg>");

$form-label-font-size:0.92857rem;

$input-placeholder-color: var(--#{$prefix}gray-500);

$breadcrumb-margin-bottom: 0;

//dropdowns
$dropdown-border-color: $gray-400;
$dropdown-item-padding-y: .5rem;
$dropdown-link-hover-bg: $gray-200;
$dropdown-link-active-bg: $gray-300;
$dropdown-link-active-color: $black;

//buttons
$btn-active-bg-shade-amount: 30%;

//tooltip
//$tooltip-opacity: 1;
$tooltip-font-size: $font-size-base*.9;
//oltip-bg: shade-color($secondary, 30%);
$tooltip-bg: $gray-800;
//$tooltip-border-radius: var(--#{$prefix}border-radius-xl);
//$tooltip-padding-y: $spacer * .5;
//$tooltip-padding-x: $spacer * .9;
//tooltip-arrow-width: 2px;
//$tooltip-arrow-height: 5px;

//modal
$modal-header-padding-y: .5rem;
$modal-header-border-width: 0;
$modal-transition: transform .25s ease-out;
$modal-fade-transform: scale(.9);
$modal-backdrop-opacity: .4;


//toast
$toast-font-size: 1rem;
$toast-max-width: auto;
$toast-padding-y: .357rem;

  // 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)


// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

.dn{
  display: none;
}

.fs-medium {
  font-size: 0.875rem;
}

.small{
  font-size: $small-font-size;
}

.badge{
  line-height: 1.1;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-toggle-nocaret::after{
  display: none !important;
}

.dropdown-toggle.no-caret::after{
  display: none !important;
}

.dropdown-menu {
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

//modal
.modal-header {
  @extend .modal-header;
  justify-content: space-between;
  //background-color: tint-color($primary-bg-subtle, 60%);
  background-color: $light;
}

.modal-content{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

/*navbar*/
.otm-nav {

  .otm-brand {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
  }

  .nav {
    --#{$prefix}nav-link-font-weight: 500;
    --#{$prefix}nav-link-padding-x: 2rem;
    --#{$prefix}nav-link-padding-y: 1.2rem;
    --#{$prefix}nav-link-color: #{$body-color};
    --#{$prefix}nav-link-hover-color: #{$body-color};

    @include media-breakpoint-down(lg) {
      --#{$prefix}nav-link-padding-x: 1rem;
    }

    @include media-breakpoint-down(md) {
      --#{$prefix}nav-link-padding-y: .5rem;
    }

    .nav-item {
      &:hover {
        background-color: $gray-100;
      }

      &:active, &.show, .nav-link.show {
        background-color: shift-color($gray-100, 3%);
      }

      &.active {
        background-color: shift-color($gray-100, 5%);
      }
    }
  }

  .nav-user {
    --#{$prefix}nav-link-padding-x: 1.5rem;
    @include media-breakpoint-down(xl) {
      --#{$prefix}nav-link-padding-x: 1rem;
    }
  }


}

//rounded button paddings
@include media-breakpoint-up(md){
  .btn.rounded-pill{
    --#{$prefix}btn-padding-x: #{$btn-padding-x*1.1};
    //--#{$prefix}btn-padding-y: #{$btn-padding-y};
  }
}

//outline buttons
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    $active-background: shift-color($value, 25%);
    $active-color: color-contrast($active-background);
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
  }
}

//icon buttons
.btn-icon{
  @extend .btn;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0 !important;
  position: relative;
  z-index: 0;
  font-size: 1.125rem;
  width: 2.3453rem;
  height: 2.3453rem;
}

.btn-icon-sm{
  @extend .btn-icon;
  font-size: 1rem !important;
  width: 1.908rem !important;
  height: 1.908rem !important;
}

$icon-button-colors: (
        "primary":    $primary,
        "success":    $success,
        "danger":     $danger,
        "dark":       $dark,
        "secondary":  $secondary
);

@each $color-bi, $value in $icon-button-colors{
  $background: transparent;
  $border: transparent;
  $color: $value;
  $hover-color: shade-color($value, 15%);
  $hover-background: tint-color($value, 85%);
  $hover-border: $hover-background;
  $active-color: shade-color($value, 35%);
  //$active-color: color-contrast($hover-background);
  $active-background: tint-color($value, 70%);
  $active-border: $active-background;
  $disabled-color: tint-color($value, 10%);
  $disabled-background: $background;
  $disabled-border: $border;
  .btn-icon-#{$color-bi}{
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
  }
}

//flat buttons
@each $color-fl, $value in $icon-button-colors{
  $background: transparent;
  $border: transparent;
  $color: $value;
  $hover-color: shade-color($value, 10%);
  $hover-background: tint-color($value, 90%);
  $hover-border: $hover-background;
  $active-color: shade-color($value, 20%);
  //$active-color: color-contrast($hover-background);
  $active-background: tint-color($value, 80%);
  $active-border: $background;
  $disabled-color: tint-color($value, 10%);
  $disabled-background: $background;
  $disabled-border: $border;
  .btn-flat-#{$color-fl}{
    --#{$prefix}btn-font-weight: 500;
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
  }
}

//reduced buttons
@each $color-rd, $value in $icon-button-colors{
  $background: transparent;
  //$border: tint-color($value, 50%);
  $border: $gray-400;
  $color: $value;
  $hover-color: shade-color($value, 15%);
  $hover-background: tint-color($value, 95%);
  $hover-border:$border;
  $active-color: shade-color($value, 30%);
  //$active-color: color-contrast($hover-background);
  $active-background: tint-color($value, 85%);
  //$active-border: $border;
  $active-border: shift-color($active-background, 20%);
  $disabled-color: tint-color($value, 10%);
  $disabled-background: $background;
  $disabled-border: $border;
  .btn-reduced-#{$color-rd}{
    --#{$prefix}btn-font-weight: 500;
    --#{$prefix}btn-color: #{$color};
    --#{$prefix}btn-bg: #{$background};
    --#{$prefix}btn-border-color: #{$border};
    --#{$prefix}btn-hover-color: #{$hover-color};
    --#{$prefix}btn-hover-bg: #{$hover-background};
    --#{$prefix}btn-hover-border-color: #{$hover-border};
    --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
    --#{$prefix}btn-active-color: #{$active-color};
    --#{$prefix}btn-active-bg: #{$active-background};
    --#{$prefix}btn-active-border-color: #{$active-border};
    --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
    --#{$prefix}btn-disabled-color: #{$disabled-color};
    --#{$prefix}btn-disabled-bg: #{$disabled-background};
    --#{$prefix}btn-disabled-border-color: #{$disabled-border};
  }
}

//border hovers
@each $color, $value in $theme-colors {
  .border-hover-#{$color} {
    &:hover {
      border-color: $value !important;
    }
  }
}

@each $color, $value in $theme-colors {
  .table-hover-#{$color} {
    &:hover {
      background-color: tint-color($value, 80%) !important;
    }
  }
}

//shadow hover
.shadow-hover {
  &:hover {
    @extend .shadow;
  }
}

.shadow-sm-hover {
  &:hover {
    @extend .shadow-sm;
  }
}

/*page title*/
.page-title{
  padding-top: .5rem;
  padding-bottom: 1.5rem;
  color: $danger;
  font-size: 1.5rem;
  font-weight: 500;
}

/*ajaxLoading*/
$ajax-loading-bg:$gray-800;
.ajaxLoading {
  position: fixed;
  margin-top: 2rem;
  left: 50%;
  z-index: 1080;
  >.indicator{
    position: relative;
    left: -50%;
    padding: $spacer*.4 $spacer*2.5 $spacer*.4 $spacer*.3;
    color: color-contrast($ajax-loading-bg);
    background-color: $ajax-loading-bg;
    border-radius: $border-radius-pill;
    //box-shadow: inset -2px -2px 6px tint-color($ajax-loading-bg, 20%);
    >i{
      color: $yellow-300;
      margin-right: $spacer;
    }
  }
  >.progress{
    position: absolute;
    transform: translateX(-50%);
    width: 60% !important;
    height: 2px;
    bottom: 3px;
    --#{$prefix}progress-bg: #{$gray-600};
    --#{$prefix}progress-bar-bg: #{$yellow-300};
  }
}

//overflow scroll
.overflow-auto{
  @extend .overflow-auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c0c0c1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: #888888;
  }
  &::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}

//colorful tooltips
@each $color, $value in $theme-colors {
  $tt-bg-color:shade-color($value, 10%);
  .tooltip-#{$color} {
    --#{$prefix}tooltip-bg: #{$tt-bg-color};
  }
}

//otm nav pills
.otm-nav-pills{
  --#{$prefix}nav-link-color: #{$gray-600};
  --#{$prefix}nav-link-hover-color:  #{tint-color($primary, 5%)};
  --#{$prefix}nav-link-padding-x:  1.144286rem;
  font-weight: 500;
  gap: .55rem;
  .nav-link:not(.active):hover{
    background-color: tint-color($primary, 95%);
  }
  .nav-link.active{
    --#{$prefix}nav-pills-link-active-bg: #{tint-color($primary, 90%)};
    --#{$prefix}nav-pills-link-active-color: #{$primary};
    font-weight: 600;
  }
}

//counter spans
.counter {
  position: absolute;
  left: 90%;
  top: 3px;
  transform: translate(-50%, -50%);
  padding: 2px 4px;
  font-size: .65rem;
  font-weight: 700;
  border-radius: $border-radius-sm;
  color: $white;
  line-height: 1;
}

//9. FA
$fa-font-path: "../fonts";
$fa-font-size-base: 1rem;
$fa-fw-width: calc(20em / 16);
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
//@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";