@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "colors";

// 2. Include any default variable overrides here
$enable-dark-mode: false;
$enable-transitions: true;
$enable-gradients: false;


$prefix: bs-;

$component-active-color:      $white;
$component-active-bg:         $primary;

$font-family-sans-serif: "Inter", sans-serif;
$font-size-root: 14px;

$body-bg: #f3f2ef;

$navbar-brand-font-size: 2rem;
$navbar-brand-padding-y: 0;
$navbar-light-brand-color: $indigo-500;
$navbar-light-brand-hover-color: $indigo-700;
$navbar-padding-y: 0;

$link-decoration: none;
$link-shade-percentage: 30%;

$focus-ring-width:      1px;
$focus-ring-opacity:    .9;
$focus-ring-color:      rgba($primary, $focus-ring-opacity);
$focus-ring-blur:       0;
$focus-ring-box-shadow: inset 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;


$form-floating-label-opacity: .65;
$form-floating-label-transform: scale(.75) translateY(-.5rem) translateX(.15rem);

$form-label-font-weight: 500;
$form-label-margin-bottom: .25rem;
$input-bg: $gray-100;

$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m4 10 4 4 7-9'/></svg>");

$btn-active-bg-shade-amount: 25%;

//dropdowns
$dropdown-bg: $white;


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)


// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

.fs-medium{
  font-size: 0.95rem;
}


//9. FA
$fa-font-path: "../fonts";
$fa-font-size-base: 1rem;
$fa-fw-width: calc(20em / 16);
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
//@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";