/node_modules/
/app/fonts/fa-regular-400.ttf
/app/fonts/fa-regular-400.woff2
/app/fonts/fa-solid-900.ttf
/app/fonts/fa-solid-900.woff2
/app/fonts/fa-v4compatibility.ttf
/app/fonts/fa-v4compatibility.woff2
